<div class="container">
  <h1>Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <p><%= cocktail.image %></p>
  <% end %>
</div>

<%= link_to "Create a new cocktail", new_cocktail_path %>
